<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257388023831-ag9ubephr2rfhqgrc4mh2gb1ha8cvpo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257388023831-ag9ubephr2rfhqgrc4mh2gb1ha8cvpo6</string>
	<key>API_KEY</key>
	<string>AIzaSyCh0y4bdOmZRUtdZfg2fA89qeFJNdPVdT4</string>
	<key>GCM_SENDER_ID</key>
	<string>257388023831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tacafe</string>
	<key>PROJECT_ID</key>
	<string>tacafe-67178</string>
	<key>STORAGE_BUCKET</key>
	<string>tacafe-67178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257388023831:ios:63634908cb4ddfd57c8c52</string>
</dict>
</plist>